extends ../shared/layout

block main-content
  block example-content

  h2 Examples

  p Examples on this page are computed as you request the page (they’re up-to-date) using connect-assets version #{version}.
